`*{margin:0;}
html, body{cursor:default;}
body {
    position:absolute;
    margin:1px;
    height:100%;
    width:100%;
    background:rgb(0, 0, 0), #000000;
    background-color:#000000;
    flex:none;
}

.a {
    cursor:hand;
    cursor:pointer;
    flex:none;
}

.p {
    color:#000000;
    flex:none;
}

.copyright {
    font-size: 9pt;
    font-weight:900;
    text-align: center;
    margin: bottom;
    padding-bottom: 10px;
    color: darkgrey;
    font-family: 'Montserrat', sans-serif;
    flex:none;
}

#main {
    flex:none;
}
